<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension
		point="org.eclipse.ui.decorators">
		<decorator
        class="com.nsand.gravity.internal.ImageIconDecorator"
        id="com.nsand.gravity.icon"
        label="%decorator.label"
        location="REPLACE"
        state="true">
			<enablement>
				<objectClass
					name="org.eclipse.core.resources.IFile" />
			</enablement>
		</decorator>
	</extension>
	<extension
		point="org.eclipse.ui.propertyPages">
		<page
			class="com.nsand.gravity.internal.ProjectNaturePropertyPage"
			id="com.nsand.gravity.naturePage"
			name="%nature.props.label">
			<enabledWhen>
				<adapt type="org.eclipse.core.resources.IProject" />
			</enabledWhen>
		</page>
	</extension>
	<extension
		point="org.eclipse.ui.commands">
		<command
	        id="com.nsand.gravity.fileExplorer"
	        name="Open File Explorer"
	        description="Opens the resource in the system's default file explorer"
	        categoryId="org.eclipse.ui.category.navigate" />
	</extension>
	<extension
		point="org.eclipse.ui.handlers">
		<handler
			commandId="com.nsand.gravity.fileExplorer" class="com.nsand.gravity.internal.handlers.FileExplorerHandler">
			<enabledWhen>
				<iterate ifEmpty="false">
					<adapt
						type="org.eclipse.core.resources.IResource" />
				</iterate>
			</enabledWhen>
		</handler>
	</extension>
	<extension
		point="org.eclipse.ui.bindings">
		<key
			sequence="M2+F3"
			commandId="com.nsand.gravity.fileExplorer"
			schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
	</extension>
	<extension
		point="org.eclipse.ui.menus">
		<menuContribution
			locationURI="menu:navigate?after=additions">
			<command
				commandId="com.nsand.gravity.fileExplorer">
			</command>
		</menuContribution>
		<menuContribution
			locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <command
				commandId="com.nsand.gravity.fileExplorer" style="push">
				<visibleWhen checkEnabled="true" />
			</command>
		</menuContribution>
	</extension>
</plugin>
